@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root{

  --main: #4E4955;
  --secondary: #00FF00;
  --third: #EDEDED;

}


* {

  margin: 0;
  padding: 0;

  font-family: 'PT Serif', serif;

}

html, body{

  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
  background-color: var(--main);

  overflow-x: hidden;

}
  

li {
  list-style: none;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

li a:hover {
  font-weight: bold;
}


/* NAV / MENU */

nav{

  position: fixed;
  width: 100%;

  pointer-events: none;

  animation: .75s ease-in-out 0s 1 Slide_Top_To_Bottom;
  z-index: 2;

}

nav .container{

  width: 15em;

  float: right;
  margin-right: 5%;

}

nav .container .logo{

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 225px;

  background-image: url("./img/SVG/BRAUND-TEXT-GROEN.svg");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;

  background-color: var(--main);

  z-index: 2;

}

nav .container .logo .tekst{

  display: flex;
  align-items: flex-end;

  width: 85%;
  height: 90%;

  color: var(--third);
  font-size: 22px;

}

nav .container .logo .tekst .tekst-container #pijl{

  width: 40px;
  pointer-events: auto;
  cursor: pointer;

  transform-origin: center;

  transition: .5s;

}

nav .container .logo .tekst .tekst-container{

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

}

nav .container #menu{

  position: relative;

  transform: translateY(-101%);
  z-index: 1;

  transition: .5s;

}

nav .container .menu-links{

  pointer-events: auto;

  background-color: var(--third);
  padding: 15px;

}

nav .container .menu-links a {

  color: var(--main);

  font-size: 26px;


}

nav .container .menu-links .kruis-container{

  display: flex;
  justify-content: end;
  align-items: center;

}

nav .container .menu-links .kruis-container #kruis{

  width: 27.5px;
  margin-top: 15px;

  cursor: pointer;

}

/* HEADER */

header .container{

  width: 100%;
  height: 99.85vh;

}


/* AANKONDIGING */

.disciplines-en-aankondiging{

  display: flex;
  justify-content: center;
  align-items: center;

  height: 37vh;

  background-color: var(--main);

}

.disciplines-en-aankondiging .container{

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 76%;
  height: 90%;

}

.disciplines-en-aankondiging .disciplines{

  font-size: 33px;

}

.disciplines-en-aankondiging .disciplines li{

  margin-top: 2px;

}

.disciplines-en-aankondiging .aankondiging{

  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 375px;

}

.disciplines-en-aankondiging .aankondiging .bol{

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 250px;

  background-image: url(./img/SVG/CIRKEL_GROEN.svg);
  background-repeat: no-repeat;
  background-position: center;

  transition: .25s;

}

.disciplines-en-aankondiging .aankondiging .bol img{

  width: 255px;

}

.disciplines-en-aankondiging .aankondiging .bol h1{

  font-size: 35px;
  color: var(--main);

}

.disciplines-en-aankondiging .aankondiging .bol:hover{

  transform: scale(105%);
  transition: .25s;

}

.disciplines-en-aankondiging .aankondiging .media-links{

  width: 50px;
  margin-left: 50px;

}

.disciplines-en-aankondiging .aankondiging .media-links img{

  width: 95%;
  margin-top: 10px;

}

.disciplines-en-aankondiging .aankondiging .media-links img:hover{

  transform: scale(105%);

}


/* INTRODUCTIE */

/* .introductie .cirkel{

  position: absolute;
  width: 750px;

  transform: translate(205%, -110%);

} */

.introductie{

  color: var(--main);
  background-color: var(--third);

}

.introductie .position-container{

  width: 100%;

  padding-top: 70px;
  padding-bottom: 400px;

  z-index: 2;

}

.introductie .center-container{

  display: flex;
  justify-content: center;
  align-items: center;

}

.introductie .tekst-1{

  width: 33%;
  padding: 60px;

  margin-right: 175px;

  z-index: 3;

}

.introductie .tekst-1 h1{

  font-size: 50px;
  margin-bottom: 55px;

}

.introductie .tekst-1 p{

  font-size: 18px;

}

.introductie .tekst-2{

  width: 15%;

  padding: 50px;
  margin-left: 175px;

}

.introductie .tekst-2 h2{

  font-size: 28px;
  margin-bottom: 25px;

}

.introductie .tekst-2 p{

  font-size: 16.5px;

}

.introductie .logo-half{

  position: absolute;

  width: 35%;
  transform: translate(-12%, -15%);

  z-index: 1;

}

.introductie .quote{

  width: 525px;

  transform: translate(125%, 50%);

}


/* MEER INFO */

.meer-info{

  color: var(--secondary);
  background-image: url("./img/Beelden/MEER_INFO_ACHTERGROND.jpg");

  background-size: 100%;
  background-repeat: no-repeat;


}

.meer-info .container{

  width: 35%;
  padding-top: 100px;
  margin-left: 235px;

}

.meer-info .container h1{

  font-size: 55px;
  margin-bottom: 60px;

}

.meer-info .container p{

  font-size: 18px;
  margin-left: 7.5px;

}

.meer-info .quote-stijn {

  display: flex;
  justify-content: center;
  align-items: center;

}

.meer-info .quote-stijn .quote-container{

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 85%;

}

.meer-info .quote{

  width: 550px;

}

.meer-info .stijn-meer-info{

  opacity: .6;
  width: 750px;

}


/* PROJECTEN 1 */

.projecten-1 .container{

  width: 100%;
  height: 99.85vh;
  
}


/* WAT IK DOE */

.wat-ik-doe {

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("./img/SVG/BRAUND-TEXT-GRIJS.svg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;

  background-color: var(--third);

}

.wat-ik-doe .container{

  padding-top: 100px;
  padding-bottom: 235px;

  width: 75%;
  height: 80%;

}

.wat-ik-doe h1{

  font-size: 55px;
  margin-left: 150px;

  color: var(--main);

}

.wat-ik-doe .bollen{

  margin-top: 75px;
  text-align: center;

}

.wat-ik-doe .bol-1-en-2, .bol-3-en-4{

  display: flex;
  justify-content: center;
  align-items: center;

}

.wat-ik-doe .bol-container{

  width: 75%;

}

.wat-ik-doe .bollen .bol-groen{

  display: flex;
  justify-content: center;
  align-items: center;

  width: 525px;
  height: 525px;

  margin: 20px;

  background-image: url("./img/SVG/CIRKEL_GROEN.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  color: var(--main);

}

.wat-ik-doe .bollen .bol-grijs{

  display: flex;
  justify-content: center;
  align-items: center;

  width: 525px;
  height: 525px;

  margin: 20px;

  background-image: url("./img/SVG/CIRKEL_GRIJS.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  color: var(--secondary);

}

.wat-ik-doe .bollen h2{

  font-size: 200%;
  margin-bottom: 25px;

}

.wat-ik-doe .bollen p{

  font-size: 100%;;

}


/* WERKWIJZE */

.werkwijze {

  display: flex;
  justify-content: center;
  align-items: center;

}

.werkwijze .container{

  width: 75%;
  height: 80%;

  margin-top: 100px;
  margin-bottom: 100px;

  color: var(--third);

}

.werkwijze h1{

  font-size: 50px;
  margin-bottom: 50px;

}

.werkwijze .tekst-container{

  display: flex;
  justify-content: space-between;
  align-items: start;

}

.werkwijze .tekst-container .tekst-1{

  width: 50%;
  margin-right: 25px;

}

.werkwijze .tekst-container .tekst-2{

  width: 33%;
  margin-left: 25px;

}

.werkwijze p{


  font-size: 20px;
  margin-bottom: 40px;


}

.werkwijze .groen{

  color: var(--secondary);

}


/* OVERIG */

.open-menu {

  transform: translateY(0%) !important;
  transition: .5s;

}

.rotate-pijl{

  transform: rotate(180deg) !important;
  transition: .5s;

}

.swiper{

  width: 100%;
  height: fit-content;

}

.swiper-slide img{

  width: 100%;
  height: 100vh;

  object-fit: cover;
  user-select: none;

}

.swiper .swiper-pagination{

  margin-bottom: 30px;

}

.swiper .swiper-pagination-bullet{

  background-color: var(--secondary);

  width: 15px;
  height: 15px;

  opacity: 1;

  transition: .125s;

}

.swiper .swiper-pagination-bullet:hover{

  transform: scale(125%);
  transition: .25s;

}

.swiper .swiper-pagination-bullet-active{

  background-color: var(--main);

}



/* inViewport */

@keyframes Slide_Top_To_Bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


[data-inviewport="scale-in"] { 
  transition: .5s;
  transform: scale(0.85);
}

[data-inviewport="scale-in"].is-inViewport { 
  transform: scale(1);
}

[data-inviewport="fade"] { 
  transition: 2s;
  opacity: 0;
}

[data-inviewport="fade"].is-inViewport { 
  opacity: 1;
}

[data-inviewport="move-in"] { 
  transition: 1s;
  transform: translateX(-50%);
}

[data-inviewport="move-in"].is-inViewport { 
  transform: translateX(0%);
}


/* MEDIA QUERIES */

@media only screen and (max-width: 1425px){ 

  nav .container{

    width: 13em;

  }

  nav .container .logo{

    height: 210px;

  }

  .main-slide{

    content: url("./img/Beelden/Slideshow_1_1_Mobiel_2.jpg");

  }

  .disciplines-en-aankondiging{

    height: auto;

  }

  .disciplines-en-aankondiging .container{

    display: block;
    width: 90%;

    margin-top: 45px;
    margin-bottom: 45px;

  }

  .disciplines-en-aankondiging .disciplines{

    margin-bottom: 33px;

  }

  .disciplines-en-aankondiging .aankondiging{

    width: 95%;

  }

  .disciplines-en-aankondiging .aankondiging .media-links{

    margin-left: 33px;

  }

  .introductie .position-container{

    padding-bottom: 100px;

  }

  .introductie .center-container{

    display: block;
    margin-left: 33px;

  }

  .introductie .tekst-1{

    width: 85%;
    padding: 0;

  }

  .introductie .tekst-2{

    width: 85%;

    margin-left: 0;
    margin-top: 55px;

    padding: 0;

    z-index: 3;

  }

  .introductie .logo-half{

    position: relative;
    width: 350px;
    margin-top: 50px;

    transform: translate(-12%,0%);

  }

  .introductie .quote{

    width: 300px;

    margin-top: 40px;
    margin-left: 20px;
  
    transform: translate(0%, 0%);
  
  }

  .meer-info {

    background-image: none;

  }

  .meer-info .container {

    width: 85%;
    margin-left: 27px;

  }

  .meer-info .container p{

    font-size: 23px;

  }

  .meer-info .quote-stijn .quote-container{

    display: block;
    margin-top: 55px;

  }

  .meer-info .quote {

    width: 75%;
    margin-left: 5px;

  }

  .meer-info .stijn-meer-info{

    margin-top: 25px;
    transform: translate(10%, 2%);

  }

  .wat-ik-doe{

    background-image: none;

  }

  .wat-ik-doe .container{

    padding-bottom: 50px;

  }

  .wat-ik-doe .container h1{

    text-align: center;
    margin-left: 0;

  }

  .wat-ik-doe .center-bollen{

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .wat-ik-doe .bollen{

    margin-top: 20px;

  }

  .wat-ik-doe .bol-1-en-2, .bol-3-en-4{

    display: block;

  }

  .wat-ik-doe .bollen .bol-groen{

    width: 355px;
    height: 355px;

    margin-bottom: 30px;

  }

  .wat-ik-doe .bollen .bol-grijs{

    width: 355px;
    height: 355px;
    
    margin-bottom: 30px;

  }


  .wat-ik-doe .bollen h2{

    font-size: 150%;
    margin-bottom: 10px;
  
  }
  
  .wat-ik-doe .bollen p{
  
    font-size: 85%;;
  
  }

  /* .introductie .cirkel{

    position: relative;

    transform: translate(5%,0%);
    width: 400px;

  } */

}

@media only screen and (max-width: 625px) {
  
  html, body{

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow-x: hidden;

  }

  nav .container{

    width: 10em;

  }

  nav .container .logo{

    height: 160px;

  }

  .meer-info .quote {

    width: 90%;
    margin-left: 5px;

  }

  .meer-info .stijn-meer-info{

    margin-top: 2px;
    transform: translate(-25%, 2%);

  }

  .wat-ik-doe .container h1{

    font-size: 45px;

  }

  .werkwijze .tekst-container{

    display: block;
  
  }

  .werkwijze .tekst-container .tekst-1{

    width: 100%;

  }

  .werkwijze .tekst-container .tekst-2{

    width: 100%;
    margin-left: 0;

  }

  .werkwijze p{

    font-size: 25px;

  }

}

@media only screen and (max-width: 360px) {
  
  .wat-ik-doe .bollen .bol-groen{

    width: 310px;
    height: 310px;

    margin-bottom: 30px;

  }

  .wat-ik-doe .bollen .bol-grijs{

    width: 310px;
    height: 310px;
    
    margin-bottom: 30px;

  }

  .wat-ik-doe .bollen h2{

    margin-bottom: 2px;

  }

  .wat-ik-doe .bollen p{

    font-size: 12px;

  }

}

@media only screen and (max-width: 280px) {

  .disciplines-en-aankondiging .disciplines li{

    margin-top: 17px;
  
  }

  .disciplines-en-aankondiging .aankondiging .bol h1{

    font-size: 25px;

  }

  .introductie .logo-half{

    width: 275px;

  }

  .introductie .quote{

    width: 225px;

  }

  .meer-info .container{

    margin-left: 20px;
    width: 82%;

  }

  .meer-info .quote{

    width: 225px;
    
  }

  .meer-info .stijn-meer-info{

    margin-top: 5px;

  }

}

@media only screen and (max-width: 900px) and (min-width: 481px) {

  html, body{

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow-x: hidden;

  }

}